
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display' , sans-serif;
}

.slider-area {
    background-color: rgb(254, 244, 244);
}

.slider-bg5 {
    background: url(/Images/h2_hero2.jpg.webp) no-repeat center center/cover;
    height: 350px;
}

.slider-area .hero-caption.hero-caption2 h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: block;
    font-weight: 400;
    line-height: 1.4;
}

.about-details {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-details .about-pera {
    padding-bottom: 50px;
}

.about-details .about-pera p {
    color: rgb(112, 112, 112);
}

p {
    font-family: "Display Playfair", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.6;
}









