
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.img-fluid {
    width: 100%;
}

.single-post-area .blog_details {
    padding-top: 26px;
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0;
}

.blog-info-link li {
    float: left;
    font-size: 14px;
}

.blog-info-link li a {
    color: #999999;
}

.blog_details a {
    color: #ff8b23;
}

.blog-info-link li i{
    font-size: 13px;
    margin-right: 5px;
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px;
}

.detials p{

margin-bottom: 0px;
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid;
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;
}

.single-post-area .navigation-top .like-info {
    font-size: 14px;
}

.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px;
}

.align-middle {
    vertical-align: middle !important;
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px;
}

.single-post-area .navigation-top .social-icons li i {
    font-size: 14px;
    color: #999999;
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px;
}

.single-post-area .navigation-area .nav-left {
    text-align: left;
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}

.single-post-area .arrow {
    position: absolute;
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;

}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600;
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
}

.single-post-area .navigation-area .nav-right {
    text-align: right;
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
}

.media{
  display: flex;
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}

.single-post-area .blog-author a {
    display: inline-block;
}

.single-post-area .blog-author h4 {
    font-size: 16px;
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px;
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px;
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px;
}

.comments-area .comment-list {
    padding-bottom: 48px;
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%;
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
    font-size: 15px;
}


.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
}

.comments-area .date {
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
    margin-left: 20px;
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400;
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
}

.form-contact .form-group {
    margin-bottom: 30px;
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}

.form-contact textarea {
    border-radius: 0px;
    height: 100% !important;
}