*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cart_inner .table {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #797979;
    border-bottom: 0px !important;
}

.cart_inner .table tbody tr td {
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
    align-self: center ;
}

.cart_inner .table tbody tr .align-top{
  vertical-align: top;
}

.media{
  display: flex;
}

.cart_inner .table tbody tr td .media .d-flex {
    padding-right: 30px;
}

.cart_inner .table tbody tr td .media .d-flex img {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    max-width: 150px;
}

.cart_inner .table tbody tr td .media .media-body {
    
    align-self: center;
}



p {
    font-family: "Roboto", sans-serif;
    color: #301A22;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    font-weight: 700;
} 

.cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px;
}

.cart_area .product_count {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
}

.cart_area .product_count .input-number-decrement {
    position: absolute;
    right: 0;
    bottom: -9px;
    padding: 10px;
    border-left: 1px solid #eee;
    display: inline-block;
}

.cart_inner .table tbody tr td .product_count input {
    width: 100px;
    padding-left: 24px;
    height: 50px;
    outline: none;
    box-shadow: none;
    font-size: 24px;
}

.cart_area .product_count input {
    width: 76px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding-left: 10px;
}

.cart_area .product_count .input-number-increment {
    position: absolute;
    right: 0;
    top: -7px;
    padding: 10px;
    border-left: 1px solid #eee;
    display: inline-block;
}

.cart_area .product_count .input-number-increment:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

.btn {
    background-color: #FF1616;
    font-family: "Roboto", sans-serif;
    text-transform: inherit !important;
    padding: 22px 32px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 35px;
    line-height: 1;
    line-height: 0;
    border: 1px solid #FF1616;
   
}

.cart_inner .table tbody tr.shipping_area .shipping_box {
    margin-left: -250px;
    text-align: right;
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px;
    color: #606060;
}

.cart_inner .table tbody tr.shipping_area .shipping_box .list li input {
    margin-left: 10px;
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
  list-style: none;
}

.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
    color: #797979;
    padding-left: 5px;
}



.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
    display: block;
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 45px;
    margin-bottom: 20px;
    padding: 5px 8px;
    border-radius: 30px;
    color: #140C40;
}




.post_code {
    display: block;
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px;
    padding: 8px 15px;
}

