*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .header-top{
  padding-top: 20px;
  background-color: aliceblue;
}

.logo{
  padding-top: 10px;
}

.header-top .header-info-left .form-box{
  width: 460px;
  position: relative;
}
.upper-row{
  display: flex;
  justify-content: space-between;
}

.header-info-left{
  display: flex;
  align-items: center;
}

.header-top .header-info-left .form-box input {
    border: 1px solid rgba(35, 47, 85, 0.15);
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
}

.header-top .header-info-left .form-box .search-icon {
    position: absolute;
    top: 14px;
    right: 60px;
}
.header-top .header-info-left .form-box .search-icon i{
    color: #FF1616;
    cursor: pointer;
    font-size: 22px;
}

.header-top .header-right ul{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.header-top .header-right ul li{
  list-style: none;
  padding: 0px 12px ;
}

.header-top .header-right ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #454E6D;
    font-weight: 400;
    display: inline-block;
}

.header-top .header-right .shopping-card {
    position: relative;
}

.btnn {
    background-color: #FF1616;
    font-family:  sans-serif;
    text-decoration: none;
    padding: 18px 34px;
    color: #fff  !important ;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 500 !important;
    border-radius: 35px;
  
    cursor: pointer;
   
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
} */




/* Navbar */

nav{
  background-color: #FEF4F4;
}

/* Main */

.slider-area {
    background-color: #FEF4F4;
}

.slider-bg4 {
    background: url(Images/h2_hero1.jpg.webp) no-repeat center center/cover;
     height: 350px;
  
}

.slider-area .hero-caption.hero-caption2 h2 {
    color: #fff;
    font-size: 50px;
    display: block;
    font-weight: 400;
    line-height: 1.4;
}

/* part nex */

.category-listing {
    border: 1px solid #ededed;
    padding: 30px 19px 30px 30px;
}

.small-tittle h4 {
    font-size: 16px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
}

.category-listing .single-listing .select-Categories .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    color: #232F55;
    font-size: 16px;
}

.category-listing .single-listing .select-Categories .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.category-listing .single-listing .select-Categories .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #EEE1E0;
    border-radius: 50%;
}

.category-listing .single-listing .select-Categories .container input:checked ~ .checkmark {
    background-color: #FF1616;
    border: 2px solid transparent;
}


.category-listing .single-listing .select-Categories .container input:checked ~ .checkmark:after {
    display: block;
}

.category-listing .single-listing .select-Categories .container .checkmark::after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
}

.category-listing .single-listing .select-Categories .checkmark:after {
    content: "";
    position: absolute;
    /* display: none; */
}


.pb-60 {
    padding-bottom: 60px;
}

.pt-100 {
    padding-top: 100px;
}

.nice-select {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 30px;
    padding: 11px 19px 11px 18px;
    color: #140C40;
    line-height: 20px;
    border: 1px solid #EEE1E0;
    margin-bottom: 30px;
}




.best-selling .properties {
    margin: 0 12px;
}

.pb-30 {
    padding-bottom: 30px;
}

.best-selling .properties .properties-card {
    background-color: #fff;
}

.best-selling .properties .properties-card .properties-img img {
    width: 100%;
}

.best-selling .properties .properties-card .properties-caption.properties-caption2 {
    border: 1px solid #EEE1E0;
    border-top: 0;
}

.best-selling .properties .properties-card .properties-caption h3 a {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #1a1a1a;
    text-decoration: none;
}

.best-selling .properties .properties-card .properties-caption P {
    color: #9498A7;
    font-size: 14px;
    margin-bottom: 11px;
}

.best-selling .properties .properties-card .properties-caption .properties-footer .review .rating i {
    font-size: 13px;
    color: #FF5700;
}

.best-selling .properties .properties-card .properties-caption .properties-footer .review p {
    display: inline-block;
    color: #9498A7;
    font-size: 14px;
}

.best-selling .properties .properties-card .properties-caption .properties-footer .review p span {
    color: #FF7B2E;
    font-size: 12px;
}

.best-selling .properties .properties-card .properties-caption .properties-footer .price span {
    cursor: pointer;
    font-weight: 500;
    color: #FF1616;
    font-size: 22px;
}


.more-btn {
    color: #F1FBFF;
    font-size: 16px;
}

.mt-15 {
    margin-top: 15px;
}

.subscribe-area{
  position: relative;
}

.subscribe-area .subscribe-padding{
  padding: 75px 0;;
}

.section-img2-bg{
  background: url(Images/section-bg1.jpg) no-repeat center center/cover;

}

.subscribe-area .subscribe-caption h3{
  font-size: 40px;
    display: block;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 22px;
    color: #fff;
}

.subscribe-area .subscribe-caption p{
      color: #9498A7;
    font-size: 16px;
    margin-bottom: 21px;
}

.subscribe-area .subscribe-caption form input {
    width: 39%;
    height: 50px;
    padding: 15px 24px;
    color: #232F55;
    font-size: 16px;
    border-radius: 25px;
    background: #fff;
    border: 0;
}

.subscribe-area .subscribe-caption form button.subscribe-btn {
    width: 21%;
    height: 50px;
    border: 0;
    background: #FF1616;
    border-radius: 25px;
    padding: 15px 26px;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.footer-padding{
  padding-top: 100px;
  padding-bottom: 60px;
}

.footer-area .footer-pera p {
    color: #454E6D;
    font-size: 14px;
    margin-bottom: 21px;
    line-height: 1.8;
    font-weight: 400;
}

.footer-social a {
    background: none;
    color: #9498A7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    border: 1px solid #EEE1E0;
}

.footer-social a i {
    display: inline-block;
}

.footer-social :hover{
  color: #fff;
  background-color: #FF1616;
}

.footer-area .footer-title h4 {
    font-family: "Roboto", sans-serif;
    color: #232F55;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 700;
}

.footer-area .footer-title ul li {
    margin-bottom: 15px;
    list-style: none;
}

.footer-area .footer-title ul li a {
    color: #454E6D;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.footer-area .footer-title ul li a:hover{
  text-decoration: underline ;
}






